/* ==========================================================================
   Import
   ========================================================================== */
/* ==========================================================================
   Vars
   ========================================================================== */
/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: 'Conv_Brandon_light';
  src: url('../fonts/Brandon_light/Brandon_light.eot');
  src: local('☺'), url('../fonts/Brandon_light/Brandon_light.woff') format('woff'), url('../fonts/Brandon_light/Brandon_light.ttf') format('truetype'), url('../fonts/Brandon_light/Brandon_light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ==========================================================================
   Main
   ========================================================================== */
/* line 35, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000335}}
html,
body {
  height: 100%;
}
/* line 39, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000339}}
body {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Conv_Brandon_light", "sans serif";
}
/* line 47, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000347}}
a {
  text-decoration: none;
  outline: 0;
}
/* line 50, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000350}}
a:hover,
a:focus,
a:active {
  outline: 0;
  text-decoration: none;
}
/* line 56, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000356}}
input::-moz-focus-inner {
  border: 0;
  outline: none;
}
/* line 60, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000360}}
button::-moz-focus-inner {
  border: 0;
  outline: none;
}
/* ==========================================================================
   Class
   ========================================================================== */
/* line 69, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000369}}
.bold {
  font-weight: bold;
}
/* line 73, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000373}}
.transitionable {
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
}
@media screen and (max-width: 767px) {
  /* line 82, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000382}}
  .hide-for-mobile {
    display: none!important;
  }
}
/* ==========================================================================
   Nav
   ========================================================================== */
/* line 91, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000391}}
.active-nav-link {
  border-bottom: solid 4px #000;
}
/* line 95, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\0000395}}
.navbar {
  background: #fff;
}
/* line 101, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003101}}
.navbar .nav li.active a {
  border-bottom: solid 4px #000;
}
/* line 105, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003105}}
.navbar .nav li a {
  color: #000;
  border-bottom: solid 4px #fff;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
}
/* line 111, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003111}}
.navbar .nav li a:hover,
.navbar .nav li a:focus {
  border-bottom: solid 4px #000;
}
/* line 119, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003119}}
.navbar .navbar-header .navbar-toggle {
  border: solid 1px #3c86d6;
}
/* line 122, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003122}}
.navbar .navbar-header .navbar-toggle .icon-bar {
  background: #3c86d6;
}
/* line 127, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003127}}
.navbar .navbar-collapse {
  background: #fff;
}
@media screen and (max-width: 992px) {
  /* line 130, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003130}}
  .navbar .navbar-collapse {
    border-bottom: solid 1px #777;
  }
  /* line 133, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003133}}
  .navbar .navbar-collapse .nav li a {
    border: none;
  }
}
/* ==========================================================================
   Content
   ========================================================================== */
/* line 146, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003146}}
#content {
  min-height: 100%;
  width: 100%;
}
/* ==========================================================================
   Footer
   ========================================================================== */
/* line 155, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003155}}
#footer {
  background: #3c86d6;
  color: #fff;
  margin-top: 2%;
}
/* line 161, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003161}}
#footer .row {
  padding: 1%;
}
/* line 165, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003165}}
#footer #contact-info {
  font-size: 1.5em;
}
/* line 168, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003168}}
#footer #contact-info a {
  color: #fff;
}
/* line 173, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003173}}
#footer #social-links-container {
  width: 100%;
}
/* line 176, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003176}}
#footer #social-links-container img {
  margin-left: 1%;
  width: 75px;
  float: right;
}
@media screen and (max-width: 767px) {
  /* line 185, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003185}}
  #footer #contact-info {
    text-align: center;
    padding-top: 5px;
  }
  /* line 190, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003190}}
  #footer #social-links-container {
    width: 100%;
    text-align: center;
  }
  /* line 194, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003194}}
  #footer #social-links-container img {
    width: 50%;
    margin: 5% 0;
    float: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 204, C:\wamp\www\likeweb\mezzanine\public_html\less\main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/main\.less}line{font-family:\00003204}}
  #footer #contact-info {
    text-align: center;
  }
}
/* line 3, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\000033}}
#content {
  padding-top: 8%;
}
/* line 11, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000311}}
#content .container .row #chess-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  margin-right: -4px;
  max-height: 500px;
  max-width: 49%;
}
/* line 21, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000321}}
#content .container .row #home-text {
  font-size: 1.4em;
  display: inline-block;
  width: 50%;
  padding-top: 15px;
  border-top: solid 1px #000;
  color: #888;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  /* line 30, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000330}}
  #content .container .row #home-text {
    width: 100%;
  }
}
/* line 35, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000335}}
#content .container .row #more {
  color: #000;
  border-bottom: solid 4px #000;
  padding-bottom: 5px;
  margin-top: 2%;
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
}
/* line 46, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000346}}
#content .container .row #more:hover {
  border-color: #3c86d6;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  /* line 50, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000350}}
  #content .container .row #more {
    width: 100%;
    text-align: center;
  }
}
/* line 59, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000359}}
#content .container .row div:nth-child(2) .aside {
  border-bottom: dotted 2px #999;
  padding: 5%;
  text-align: center;
}
/* line 65, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000365}}
#content .container .row div:nth-child(2) .aside:last-child {
  border: none;
  font-size: 1.5em;
}
/* line 69, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000369}}
#content .container .row div:nth-child(2) .aside:last-child p:first-child {
  font-size: 8em;
}
/* line 72, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000372}}
#content .container .row div:nth-child(2) .aside:last-child p:first-child sup {
  font-size: 0.6em;
}
/* line 78, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000378}}
#content .container .row div:nth-child(2) .aside img {
  max-width: 100%;
  max-height: 200px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 83, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000383}}
  #content .container .row div:nth-child(2) .aside {
    width: 33%;
    float: left;
    margin-top: 3%;
    height: 300px;
    border-bottom: none;
    border-right: dotted 2px #999;
  }
  /* line 92, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000392}}
  #content .container .row div:nth-child(2) .aside:last-child {
    border: none;
  }
  /* line 96, C:\wamp\www\likeweb\mezzanine\public_html\less\home.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/likeweb\/mezzanine\/public_html\/less\/home\.less}line{font-family:\0000396}}
  #content .container .row div:nth-child(2) .aside:last-child p:first-child {
    line-height: 0.8em;
  }
}
