@import "main.less";

#content {

    padding-top:8%;

    .container {

        .row {

            #chess-icon {
                display: inline-block;
                vertical-align: top;
                margin-top:-2px;
                margin-right:-4px;
                max-height: 500px;

                max-width:49%;
            }

            #home-text {
                font-size:1.4em;
                display:inline-block;
                width:50%;
                padding-top:15px;
                border-top:solid 1px #000;
                color:#888;
                text-align: justify;

                @media screen and (max-width: @screen-xs-max) {
                    width:100%;
                }
            }

            #more {
                color:#000;
                border-bottom:solid 4px #000;
                padding-bottom:5px;
                margin-top:2%;
                display:inline-block;
                font-weight: bold;
                font-size:24px;

                .transitionable;

                &:hover {
                    border-color: @mezzanine_blue;
                    text-decoration: none;
                }
                @media screen and (max-width: @screen-sm) {
                    width:100%;
                    text-align:center;
                }

            }

            div:nth-child(2) {

                .aside {

                    border-bottom: dotted 2px #999;
                    padding:5%;
                    text-align:center;

                    &:last-child {
                        border:none;
                        font-size:1.5em;

                        p:first-child {
                            font-size:8em;

                            sup {
                                font-size:0.6em;
                            }
                        }
                    }

                    img {
                        max-width:100%;
                        max-height:200px;
                    }

                    @media screen and (min-width: @grid-float-breakpoint) and (max-width: @screen-lg) {
                        width:33%;
                        float:left;
                        margin-top:3%;
                        height:300px;
                        border-bottom:none;

                        border-right: dotted 2px #999;

                        &:last-child {

                            border:none;

                            p:first-child {
                                line-height: 0.8em;

                            }
                        }
                    }
                }

            }

        } // end .row

    }// end .container

}