/* ==========================================================================
   Import
   ========================================================================== */

@import "bootstrap/variables.less";

/* ==========================================================================
   Vars
   ========================================================================== */

// colors
@mezzanine_blue:#3c86d6;
@mezzanine_green:#39b54a;
@mezzanine_orange:#f7931e;


@default_transition_time:250ms;

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Conv_Brandon_light';
    src: url('../fonts/Brandon_light/Brandon_light.eot');
    src: local('☺'), url('../fonts/Brandon_light/Brandon_light.woff') format('woff'), url('../fonts/Brandon_light/Brandon_light.ttf') format('truetype'), url('../fonts/Brandon_light/Brandon_light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Main
   ========================================================================== */

html, body {
    height:100%;
}

body {
    width:100%;
    padding-top: @navbar-height;
    padding-bottom: 20px;

    font-family: "Conv_Brandon_light", "sans serif";
}

a{
    text-decoration:none;
    outline:0;
    &:hover, &:focus, &:active {
        outline:0;
        text-decoration:none;
    }
}

input::-moz-focus-inner {
    border: 0;
    outline:none;
}
button::-moz-focus-inner {
    border: 0;
    outline:none;
}

/* ==========================================================================
   Class
   ========================================================================== */

.bold {
    font-weight: bold;
}

.transitionable {
    -webkit-transition: all @default_transition_time linear;
    -moz-transition: all @default_transition_time linear;
    -ms-transition: all @default_transition_time linear;
    -o-transition: all @default_transition_time linear;
    transition: all @default_transition_time linear;
}

@media screen and (max-width: @screen-xs-max) {
    .hide-for-mobile {
        display:none!important;
    }
}

/* ==========================================================================
   Nav
   ========================================================================== */

.active-nav-link {
    border-bottom:solid 4px #000;
}

.navbar {

    background:#fff;

    .nav li {

        &.active a {
            .active-nav-link;
        }

        a {
            color:#000;
            border-bottom:solid 4px #fff;

            .transitionable;

            &:hover,
                &:focus 
                {
                .active-nav-link;
            }
        }
    }

    .navbar-header .navbar-toggle {
        border: solid 1px @mezzanine_blue;

        .icon-bar {
            background: @mezzanine_blue;
        }
    }

    .navbar-collapse {
        background:#fff;

        @media screen and (max-width: @grid-float-breakpoint) {
            border-bottom:solid 1px #777;

            .nav li a {
                border:none;
            }
        }

    }

} // end navbar

/* ==========================================================================
   Content
   ========================================================================== */

#content {
    min-height: 100%;
    width:100%;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer {

    background:@mezzanine_blue;
    color:#fff;
    margin-top:2%;

    .row {
        padding:1%;
    }

    #contact-info {
        font-size:1.5em;

        a {
            color:#fff;
        }
    }

    #social-links-container {
        width: 100%;

        img {
            margin-left:1%;
            width:75px;
            float:right;
        }
    }

    @media screen and (max-width: @screen-xs-max) {

        #contact-info {
            text-align:center;
            padding-top:5px;
        }

        #social-links-container {
            width: 100%;
            text-align:center;

            img {
                width: 50%;
                margin:5% 0;
                float:none;
            }
        }
    }

    @media screen and (max-width: @screen-xs-max) {

        #contact-info {
            text-align:center;
        }
    }
}