/* ==========================================================================
   Import
   ========================================================================== */

@import "bootstrap/variables.less";
@import "mezzanine.vars.less";


/*#footer {
    margin-top:0;
    background: @mezzanine_red;
    @media screen and (min-width: @grid-float-breakpoint) {
        position:absolute;
        bottom:0; 
    }
}*/

body.onepage {
    #about {
        #partners {
            height: auto;
        }
    }
}

body.qui-sommes-nous {
    .fullpage;
    .onepage-container;

    .navbar {
        background: @mezzanine_red;
        border-radius: 0;

        .navbar-header  {

            .navbar-toggle {
                border: solid 1px #fff;

                .icon-bar {
                    background: #fff;
                }
            }
        }
    }


    #main-nav {
        background: @mezzanine_red;

        li.active a {
            border-color:#fff;
        }

        a {
            color:#fff;
            border-color:@mezzanine_red;

            &:hover, &:active, &:focus {
                background: @mezzanine_red;
            }
        }
    }

    .lang-line {
        color:#fff;
        a.lang-link {
            color:#fff;
        }
    }

    .navbar-brand {
        p {
            color:#fff;
        }
    }

}

#about {


    margin:0;
    padding:0;

    .onepage-section {
        .arrow {
            position: absolute;
            bottom:0;
            width:100%;
            text-align: center;
        }
    }

    h2 {
        font-size:1.5em;
        font-family: "Conv_Brandon_bld";
        color:@mezzanine_blue;
        text-align: center;
        margin-bottom:3%;
    }

    .row-1 {
        margin:0;
        margin-top:-1px;
        text-align:center;
        color:#fff;
        font-size:2em;
        padding-top:1%;

        div {
            @media screen and (max-width:@grid-float-breakpoint) {
                margin-bottom:10%;
            }
        }

        h3 {
            margin:25px auto;
            border-bottom:solid 3px #fff;
            padding:4% 0;
            max-width: 60%;

            .bold-font;

            @media screen and (max-width: @screen-fat) {
                font-size:0.5em;
            }
        }

        p {
            margin: 0 auto;
            text-align: center;
            max-width: 60%;
            font-size:0.60em;

            @media screen and (min-width: @screen-fat-min) and (max-width:1650px) {
                font-size:0.60em;
            }
            @media screen and (min-width: 1650px) {
                font-size:0.85em;
            }
        }

        img {
            background:#fff;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            padding: 25px;
            width: 190px;


            @media screen and (min-width: @screen-md) {
                margin-top:2%;
            }
            @media screen and (min-width: @screen-fat) {
                margin-top:5%;
            }
        }
    }

    .partners {
        
        background-color:#ccc;
        background-size:cover;
        padding-top:1%;
        
        &.yoann {
            
            background-image:url('../img/yoan.jpg');
        }
        &.mark {
            background-image:url('../img/mark.jpg');
        }
        
        @media screen and (max-width: @screen-tablet) {
            background-repeat:no-repeat;
            background-size:100%;
            &.mark {
                background-position:100% top;
            }
        }
        @media screen and (min-width: @screen-tablet) {
            background-repeat:no-repeat;
            background-size:cover;
            &.yoann {
                background-position:30% center;
            }
            &.mark {
                background-position:85% 55%;
            }
        }

        .row {
            margin-left:0;
            margin-right:0;
        }

        .partner {

            .content {
                
                @media screen and (max-width: @screen-md) {
                    margin-top:65%;
                    font-size:1.3em;
                }
                @media screen and (min-width: @screen-md) and (max-width:@screen-tablet) {
                    width:45%;
                    font-size:1.2em;
                    
                    &.yoann {
                        margin:8% 0 0 50%;
                    }
                    &.mark{
                        margin:10% 0 0 4%;
                    }
                    
                    .desc {
                        font-size:1.1em;
                    }
                }
                @media screen and (min-width:@screen-tablet) and (max-width:@screen-fat) {
                    width:45%;
                    font-size:1.2em;
                    
                    &.yoann {
                        margin:4% 0 0 50%;
                    }
                    &.mark{
                        margin:4% 0 0 8%;
                    }
                    
                    .desc {
                        font-size:1.1em;
                    }
                }
                @media screen and (min-width:@screen-fat) and (max-width:1650px) {
                    width:55%;
                    font-size:1.2em;
                    
                    &.yoann {
                        margin:5% 0 0 50%;
                    }
                    &.mark{
                        margin:5% 0 0 8%;
                    }
                    
                    .desc {
                        font-size:1.2em;
                    }
                }
                @media screen and (min-width:1650px) {
                    width:55%;
                    font-size:1.3em;
                    
                    &.yoann {
                        margin:7% 0 0 50%;
                    }
                    &.mark{
                        margin:9% 0 0 8%;
                    }
                    
                    .desc {
                        font-size:1.2em;
                    }
                }

                &#partner-1 div:nth-child(1) {
                    margin-left:0;
                    padding-left:0;
                    text-align: right;
                }
                &#partner-2 div:nth-child(2) {
                    margin-right:0;
                    padding-right:0;
                }
            }

            img.photo {
                width:100%;
            }

            h3 {
                color:#333;
                font-size:2.5em;
                font-family: "Conv_Brandon_bld";
            }
            .subtitle {
                padding: 3% 0 2% 0;
                color:@mezzanine_red;
                font-size:1.5em;
                .bold-font;
            }

            .desc {
                
                max-width: 80%;
                @media screen and (max-width:@screen-tablet) {
                    max-width:95%;
                }

                p {
                    margin-bottom:6%;
                }
            }

            .contact {
                img {
                    vertical-align: middle;
                    @media screen and (max-width:@screen-tablet) {
                        width: 14%;
                    } 
                    @media screen and (min-width:@screen-tablet) and (max-width:@screen-tablet) {
                        width: 8%;
                    }
                    @media screen and (min-width:@screen-tablet-min) {
                        width: 5%;
                    } 
                }
                p {
                    font-size:1.3em;
                    margin-left:2%;
                    display:inline-block;
                }
            }
        }
    }
}