/* ==========================================================================
   Import
   ========================================================================== */
 
@import "bootstrap/variables.less";
@import "mezzanine.vars.less";

body.contact {
    .fullpage;

    background:#444;

    .navbar {
        background: #444;
        border-radius: 0;

        .navbar-header  {

            .navbar-toggle {
                border: solid 1px #fff;

                .icon-bar {
                    background: #fff;
                }
            }
        }
    }


    #main-nav {
        background: #444;

        li.active a {
            border-color:#fff;
        }

        a {
            color:#fff;
            border-color:#444;

            &:hover, &:active, &:focus {
                background: #444;
            }
        }
    }
    .lang-line {
        color:#fff;
        a.lang-link {
            color:#fff;
        }
    }

    .navbar-brand {
        p {
            color:#fff;
        }
    }
}

#footer {
    background: #444;
    margin:0;
    @media screen and (min-width: @grid-float-breakpoint) {
        position:absolute;
        bottom:0; 
    }
}

#contact {


    .row {

        div {
            padding:0;
            color:#fff;
            text-align:left;

            .addresses {
                width:90%;
                margin:auto;

                .address {
                    display:block;
                    margin-bottom:5%;
                    width:49%;

                    h3 {
                        font-size:2em;
                        font-family: "Conv_Brandon_bld";
                        margin-bottom:4%;
                    }

                    p {
                        font-size: 1.3em;
                        margin-bottom:6%;

                        @media screen and (max-width: @screen-tablet) {
                            font-size: 1em;
                        }
                    }
                } 
            }


            .contact-info {

                p {
                    font-size: 2em;
                    margin-bottom:4%;
                    @media screen and (max-width: @screen-tablet) {
                        margin-top:4%;
                    }
                }

                img {
                    margin-right: 10px;
                    width:40px;
                    @media screen and (max-width: @screen-xs) {
                        
                        margin-right: 0px;
                    }
                }

                a {
                    color:#fff;
                    font-size:0.7em;
                    @media screen and (max-width: @screen-tablet) {
                        font-size: 0.7em;
                    }
                    @media screen and (max-width: @screen-xs) {
                        font-size: 0.5em;
                    }
                }
            }

        }


        .form-contact {

            width:90%;
            margin:auto;

            h4 {
                font-size:1.5em;
                margin-top:4%;
                margin-bottom:4%;
            }

            div {
                margin:auto;
                text-align: center;
                margin-top: 3%;

                &.inline {
                    display:inline-block;
                    width:49%;

                    &.second {
                        margin-left:0.1%;
                    }

                    @media screen and (min-width:@screen-fat) {
                        display:block;
                        width:100%;
                    }
                }

                &.submit {
                    text-align: left;

                    input {
                        text-align: center;
                    }
                }
            }

            input, textarea {
                border-radius: none;
                border:none;
                background: #fff;
                padding:3px;
                color:#333;
                font-size:1em;
                width:100%;
                resize:none;
                border:1px #fff solid;

                &:focus {
                    border:1px #333 solid;
                }
                
                @media screen and (min-width:@screen-sm) {
                    font-size:1.1em;
                }
                @media screen and (min-width:@screen-fat) {
                    padding:5px;
                    font-size:1.5em;
                }
            }
            textarea {
                height:200px;
                @media screen and (max-width:@screen-fat) {
                    height:150px;
                }
            }
            input[type="submit"] {
                margin-bottom:3%;
                border:none;
                background: #666;
                padding:2%;
                color:#fff;
                font-size:1.5em;
                width:auto;
                border:1px #666 solid;

                &:focus, &:hover {
                    border:1px #333 solid;
                }
            }

            .response {
                font-size:1.2em;
                padding-bottom:10px;
                display:block;
                
                @media screen and (min-width:@screen-sm) and (max-width:@screen-fat) {
                    display:inline;
                    max-width:70%;
                    float:right;
                }
                @media screen and (max-width:@screen-xs) {
                    
                }
                
                &.valid {
                    color:#fff;
                }
                &.error {
                    color:#fd5757;
                }
            }
            .loader {
                display:none;
            }
        }

        #social-links-container {
            img {
                width:65%;

                @media screen and (max-width:@grid-float-breakpoint) {
                    max-width:20%;
                }
            }
        }
    }

    #footer {
        margin:0;
        padding:0;
        color:#000;
    }

}