/* ==========================================================================
   Import
   ========================================================================== */

@import "bootstrap/variables.less";
@import "mezzanine.vars.less";


body {

    &.accueil {
        #footer {
            margin-top:0;
            @media screen and (min-width:@screen-lg)  {
                position: absolute;
                bottom:0;
            }
        }
    }

    &.en {

        #home {
            .row {
                #home-text {

                    @media screen and (min-width: @screen-lg) and (max-width: @screen-fat) {
                        font-size:1.1em;
                    }

                    @media screen and (min-width: @grid-float-breakpoint) and (max-width: @screen-lg) {
                        font-size:1.1em;
                    }
                }
            }
        }
    }
}
#home {


    #img-icon {
        max-width:290%;
        @media screen and (min-width: @screen-fat) {
            margin-left:100%;
        }
        @media screen and (max-width: @grid-float-breakpoint) {
            display:none;
        }
        @media screen and (min-width: @grid-float-breakpoint) and (max-width: @screen-lg) {
            float:right;
            max-width:13%;
            margin-right:4%;
            margin-top:1%;
        }
    }

    #connector {
        margin-left: -140px;
        margin-top: 40px;
        position: absolute;
        @media screen and (max-width: @screen-lg) {
            display:none;
        }
    }

    .row {

        .col-2 {
            @media screen and (min-width: @grid-float-breakpoint) and (max-width: @screen-lg) {
                padding-left:4%;
            }
        }

        h2 {
            .bold-font;
        }

        #home-text {
            font-size:1.5em;
            display:inline-block;
            width:85%;
            padding-top:8px;
            color:#777;
            text-align: left;

            span {
                font-weight: bold;
                color:#666;
            }

            @media screen and (max-width: @screen-xs-max) {
                width:100%;
            }

            @media screen and (min-width: @screen-tablet) and (max-width: @screen-fat) {
                width:90%;
                font-size:1.2em;
            }

            @media screen and (min-width: @grid-float-breakpoint) and (max-width: @screen-lg) {
                width:71%;
                font-size:1.2em;
            }
        }

        #more {
            color:#000;
            border-bottom:solid 4px #fff;
            padding-bottom:5px;
            margin-top:2%;
            display:inline-block;
            font-family: "Conv_Brandon_bld";
            font-size:0.8em;

            .transitionable;

            &:hover {
                border-color: #000;
                text-decoration: none;
            }
            @media screen and (max-width: @screen-sm) {
                width:100%;
                text-align:center;
            }

        }

        div:nth-child(3) {

            padding:0;

            .aside {


                /*border-bottom: dotted 2px #999;*/
                /*padding:5%;*/
                height:300px;
                text-align:center;


                @media screen and (min-width: @screen-sm) and (max-width: @screen-lg) {
                    width:50%;
                    float:left;
                    margin-top:3%;
                    border-bottom:none;


                    &:last-child {

                        border:none;

                        p:first-child {
                            line-height: 0.8em;
                        }
                    }
                }

                @media screen and (max-width: @screen-lg){

                    height:300px;
                    margin-bottom:10px;
                }
                @media screen and (min-width: @screen-lg) and (max-width: @screen-fat) {

                    height:200px;
                }
                @media screen and (min-width: @screen-fat+1) {

                    height:300px;
                }

                @media screen and (min-width: @screen-sm) and (max-width: @screen-fat) {
                    margin-bottom:10%;

                }


                &.map {
                    background:#eee;
                    margin-bottom:10px;

                    text-align:center;

                    h3 {
                        font-size:1.6em;
                        margin:0;
                        padding:10px 0 30px 0;

                        @media screen and (max-width: @screen-lg){

                            padding:10px 0 30px 0;
                        }
                        @media screen and (min-width: @screen-lg) and (max-width: @screen-fat) {

                            padding:7px 0 15px 0;
                        }
                        @media screen and (min-width: @screen-fat+1) {

                            padding:10px 0 30px 0;
                        }
                    }

                    img {
                        max-width:90%;
                        padding-bottom:40px;

                        @media screen and (max-width: @screen-lg){

                            padding-bottom:40px;
                        }
                        @media screen and (min-width: @screen-lg) and (max-width: @screen-fat) {

                            padding-bottom:15px;
                        }
                        @media screen and (min-width: @screen-fat+1) {

                            padding-bottom:40px;
                        }
                    }

                    span {
                        display:inline-block;
                        /*width:50%;*/
                        text-align:left;
                        margin:0 5px;

                        span {
                            display:inline-block;
                            border-radius: 100%;
                            width:10px;
                            height:10px;
                        }

                        &.primary span {
                            background:@mezzanine_blue;
                        }
                        &.secondary span {
                            background:#8ecaf0; 
                        }
                    }
                }

                &.perf {

                    background: @mezzanine_blue;
                    color:#fff;
                    border:none;
                    font-size:1.5em;

                    p {
                        font-size:1em;
                        margin:0;
                    }

                    p.big {
                        line-height: 1.1em;
                        margin:0;
                        font-size:7em;
                        padding-top:10%;


                        @media screen and (max-width: @screen-lg){

                            font-size:7em;
                            padding-top:10%;
                        }
                        @media screen and (min-width: @screen-lg) and (max-width: @screen-fat) {
                            padding-top:4%;
                            font-size:5em;
                        }
                        @media screen and (min-width: @screen-fat+1) {

                            font-size:7em;
                            padding-top:10%;
                        }

                        sup {
                            font-size:0.6em;
                        }
                    }
                }


                img {
                    max-width:100%;
                }

                .overlay {
                    color:#fff;
                    padding:20px;
                    text-align:justify;
                    font-size:20px;
                    z-index:999;
                    display:none;
                    position: absolute;
                    background: rgba(68,68,68,0.95);
                    cursor:pointer;

                    @media screen and (max-width: @screen-xs){

                        font-size:16px;
                    }
                    @media screen and (min-width: @screen-xs) and (max-width: @screen-sm) {
                        font-size:24px;
                    }

                    @media screen and (min-width: @screen-sm) and (max-width: @screen-lg){

                        font-size:20px;
                    }
                    @media screen and (min-width: @screen-lg) and (max-width: @screen-fat) {
                        font-size:14px;
                    }
                    @media screen and (min-width: @screen-fat+1) {

                        font-size:22px;
                    }
                }


            }

        }

    } // end .row

}