/* ==========================================================================
   Import
   ========================================================================== */

@import "bootstrap/variables.less";
@import "mezzanine.vars.less";

body.investissement {

    .fullpage;
    .onepage-container;

    .navbar {
        background: @mezzanine_blue;
        border-radius: 0;  

        .navbar-header  {

            .navbar-toggle {
                border: solid 1px #fff;

                .icon-bar {
                    background: #fff;
                }
            }
        }
    }


    #main-nav {
        background: @mezzanine_blue;

        li.active a {
            border-color:#fff;
        }
        a {
            color:#fff;
            border-color:@mezzanine_blue;

            &:hover, &:active, &:focus {
                background: @mezzanine_blue;
            }
        }
    }

    .lang-line {
        color:#fff;
        a.lang-link {
            color:#fff;
        }
    }

    .navbar-brand {
        p {
            color:#fff;
        }
    }

    #content {
        padding:0;
    }

    #footer {
        margin-top:0;
        @media screen and (min-width: @screen-tablet) {
            position:absolute;
            bottom:0;
        }
    }
}

#investment {

    padding:0;
 
    @import "slides.less";
    .accordeon {
        li {
            @media screen and (max-width: 1650px) {
                &:hover {
                    .link {
                        color:@mezzanine_blue;
                    }
                }
            }
        } 
    }

    .row-5 {
        section.second {
            margin-top:25px;

            p {
                margin-top:2%;
            }
        }
    }
}