/* ==========================================================================
   Import
   ========================================================================== */

@import "bootstrap/variables.less";
@import "mezzanine.vars.less";



/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Conv_Brandon_light';
    src: url('../fonts/Brandon_light/Brandon_light.eot');
    src: local('☺'), url('../fonts/Brandon_light/Brandon_light.woff') format('woff'), url('../fonts/Brandon_light/Brandon_light.ttf') format('truetype'), url('../fonts/Brandon_light/Brandon_light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Brandon_bld';
    src: url('../fonts/Brandon_bld/Brandon_bld.eot');
    src: local('☺'), url('../fonts/Brandon_bld/Brandon_bld.woff') format('woff'), url('../fonts/Brandon_bld/Brandon_bld.ttf') format('truetype'), url('../fonts/Brandon_bld/Brandon_bld.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ChaparralPro-Regular';
    src: url('../fonts/ChaparralPro_reg/ChaparralPro-Regular.eot');
    src: local('☺'), url('../fonts/ChaparralPro_reg/ChaparralPro-Regular.woff') format('woff'), url('../fonts/ChaparralPro_reg/ChaparralPro-Regular.ttf') format('truetype'), url('../fonts/ChaparralPro_reg/ChaparralPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Main
   ========================================================================== */

html {
    font-size:1.0em;
    height: 100%;
}

body {

    width:100%;

    font-family: "Conv_Brandon_light", "sans serif";
    letter-spacing:2px;
}

a{
    text-decoration:none;
    outline:0;
    &:hover, &:focus, &:active {
        outline:0;
        text-decoration:none;
    }
}

input::-moz-focus-inner {
    border: 0;
    outline:none;
}
button::-moz-focus-inner {
    border: 0;
    outline:none;
}

ul {
    list-style-type: none;
    padding:0;
}

/* ==========================================================================
   Nav
   ========================================================================== */

.active-nav-link {
    border-bottom:solid 4px #000;
}

.navbar {

    margin:0;
    margin: auto;

    font-size:1em;
    background:#fff;
    .transitionable;
    padding-bottom:3%;

    @media screen and (max-width: @screen-lg) and (min-width:@grid-float-breakpoint) {
        font-size:0.9em;
    }

    @media screen and (min-width: @screen-fat+1) {
        padding-top:3%;
    }

    .container {
        @media screen and (min-width: @grid-float-breakpoint) {
            padding-top:2%; 
            max-width: 95%; 
        }
        @media screen and (min-width: @screen-fat) {
            padding-top:2%;
            max-width: 85%;
        }
    }

    #main-nav {
        @media screen and (max-width:@grid-float-breakpoint) {
            overflow:hidden;
        }
    }

    .lang-line {

        position:absolute;
        right:10px;
        top:10px;
        color:#000;

        @media screen and (max-width:@grid-float-breakpoint) {
            right:65px;
            top:15px;
            display:block!important;
        }

        .lang-link {
            display:inline;
            padding: 0;
            margin:0;
            border:none;
            background: none;
            
            color:#000;
            font-size:1.2em;
            

            .bold-font;
            .transitionable;

            &:hover, &:focus, &:active {
                border:none;
                background: none;
            }  
            
            @media screen and (max-width: @screen-xs-max) { 
                font-size:1em;
            }
            
        }
    }


    .navbar-brand  {

        height:auto;
        padding:0;
        margin-left:0!important;

        @media screen and (max-width:@grid-float-breakpoint) {
            padding-top:2%;
            padding-left:2%;
            max-width:75%;
        }

        margin:0;
        img {
            max-height: 100%;
            margin-bottom:6px;
            @media screen and (max-width: @screen-xs-max) { 
                max-width:75%;
            }
        }
    }

    .nav {

        width:auto;

        @media screen and (min-width: @grid-float-breakpoint) {
            float:right;
        }
        @media screen and (max-width:@grid-float-breakpoint) {
            width:auto!important;
        }

        li {

            padding: 0;

            &.active a {
                .active-nav-link;
            }

            a {
                padding-bottom:12px;
                color:#000;
                border-bottom:solid 6px #fff;
                padding-left:0;
                padding-right:0;
                margin-left:60px;
                font-size:1.2em;

                .bold-font;
                .transitionable;

                &:hover,
                    &:focus 
                    {
                    .active-nav-link;
                }

                @media screen and (max-width:@screen-fat) {
                    margin-left:20px;
                }
            }
        }

    }

    .navbar-header  {


        .navbar-toggle {
            border: solid 1px @mezzanine_blue;
            margin-right:8px;

            .icon-bar {
                background: @mezzanine_blue;
            }
        }
    }

    .navbar-collapse {
        background:#fff;
        border-top:none;
        box-shadow:none;

        &.my-transition {
        }

        @media screen and (max-width: @grid-float-breakpoint) {
            border-bottom:solid 1px #777;

            .nav li a {
                border:none;
            }
        }

    }

} // end navbar

/* ==========================================================================
   Content
   ========================================================================== */

#main-container {
    width:100%;

    @media screen and (max-width: @grid-float-breakpoint) {
        margin-top:-2px;
    }
}
#back-to-top {
    cursor:pointer;
    position:fixed;
    bottom:10%;
    right:1%;
    width:50px;
    height:50px;
    opacity:0.3;
    z-index:9999999;
    display:none;

    &:hover {
        opacity:0.8;
    }

    @media screen and (min-width: @grid-float-breakpoint) {
        bottom:10%;
    }
}

.accordeon {

    margin-top:25px;
    li {
        margin-bottom:10px;
        @media screen and (max-width: 1650px) {
            cursor:pointer;
        }
        
        .link {
            .transitionable;
        }
    }

    .content {
        padding:2% 0;
        padding-left:3%;
        display:none;
        
        p {
            margin-bottom: 8px;
        }
    }

    .link {
        .bold-font;
        img {
            .transitionable;
            vertical-align: -3px;
            
            @media screen and (min-width: 1650px) {
                display:none;
            }
        }
        img.rotate {
            transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }
    }
}

/* ==========================================================================
   Footer
   ========================================================================== */


#footer {

    color:#fff;
    margin-top:2%;
    padding:0.8% 0;

    &.white-bg {
        color:#000;

        a {
            color:#000!important;
        }
    }

    .row {
        padding:0;
        margin:0;
    }

    #contact-info {
        font-size:1.3em;
        letter-spacing:1.5px;

        a {
            color:#fff;
        }
    }

    #social-links-container {

        font-size:1.5em;

        a {
            color:#fff;
            float:right;
            margin-right: 2%;
        }

        width: 100%;

        img {
            margin-left:1%;
            width:35px;
            float:right;
        }
    }

    @media screen and (max-width: @screen-xs-max) {

        #contact-info {
            text-align:center;
            padding-top:5px;
        }

        #social-links-container {

            width: 100%;
            text-align:center;

            a {
                float:none;
                margin-right: 0;
            }

            img {
                width: 15%;
                margin:0 9% 5px 9%;
            }
        }
    }
}