/* ==========================================================================
   Import
   ========================================================================== */

@import "bootstrap/variables.less";
@import "mezzanine.vars.less";

body.conseil-et-investissement {

    .fullpage;
    .onepage-container;

    .navbar {
        background: @mezzanine_green;
        border-radius: 0;

        .navbar-header  {

            .navbar-toggle {
                border: solid 1px #fff;

                .icon-bar {
                    background: #fff;
                }
            }
        }
    }


    #main-nav {
        background: @mezzanine_green;

        li.active a {
            border-color:#fff;
        }

        a { 
            color:#fff;
            border-color:@mezzanine_green;

            &:hover, &:active, &:focus {
                background: @mezzanine_green;  
            }
        }
    }

    .lang-line {  
        color:#fff;
        a.lang-link {
            color:#fff;
        }
    }   

    .navbar-brand {
        p {
            color:#fff;
        }
    }

    #footer {

        background: @mezzanine_green;
        margin-top:0;
        @media screen and (min-width: @screen-tablet) {
            position:absolute;
            bottom:0;
        }
    }
}

#management {  

    padding:0;

    @import "slides.less";
    .accordeon {
        li {
            @media screen and (max-width: 1650px) {
                &:hover {
                    .link {
                        color:@mezzanine_green;
                    }
                }
            }
        } 
    }

    .row-1 {
        p.number {
            color:@mezzanine_green;
        }
    }

    .row-2, .row-3 {

        section {
            h2 {
                color:@mezzanine_green;
            }
        }

    }

}
