@import "bootstrap/variables.less";
@import "mezzanine.vars.less";

& {
    

    .onepage-section {
        .arrow {
            position: absolute;
            bottom:0;
            width:100%;
            text-align: center;
        }
    }

    #footer .row {
        padding:0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
        padding:2% 0;
    }

    .row-1 {
        margin-top:-1px;
        text-align:center;
        color:#fff;
        font-size:2em;
        padding-top:1%;

        div {
            @media screen and (max-width:@grid-float-breakpoint) {
                margin-bottom:10%;
            }
        }

        p.number {
            text-align: center;
            margin:auto;
            margin-bottom:5%;
            font-size:2.1em;
            background:#fff;
            padding:50px 0;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            width: 190px;
            height: 190px;
            color:@mezzanine_blue;

        }
        p.subtitle {
            .bold-font;
            margin:auto;
            font-size:0.8em;
            border-bottom: solid 3px #fff;
            padding-bottom: 15px;
            max-width: 70%;
            height:auto;

            @media screen and (min-width: @screen-fat) {
                height:80px;
            }
            @media screen and (max-width: @screen-fat) {
                font-size:0.5em;
                height:60px;
            }
        }
        p.text {
            max-width: 70%;
            margin:auto;
            margin-top:3%;
            font-size:0.60em;

            @media screen and (min-width: @screen-fat-min) and (max-width:1650px) {
                font-size:0.60em;
            }
            @media screen and (min-width: 1650px) {
                font-size:1em;
            }
        }

    } // end row-1

    .row-2, .row-3, .row-4, .row-5 {

        color:#333;

        section {
            
            
            h2 {
                color:@mezzanine_blue;
                margin:3% 0 0 0;
                .bold-font;
            }

            p {
                font-size:1.4em;
                margin:1% 0;

                @media screen and (min-width: @screen-lg) {
                    max-width: 85%;
                }
                @media screen and (min-width: @screen-fat-min) {
                    font-size:1.5em;
                }
            }
            
            img {
                
                @media screen and (min-width: @screen-xs) {
                    max-width:55%;
                }
                
                @media screen and (min-width: @grid-float-breakpoint) and (max-width: @screen-lg) {
                    float:right;
                    margin-right:4%;
                    margin-top:3%;
                    max-width:30%;
                }
                
                &.img-2 {
                    float:none;
                    margin-left:2%;
                    margin-top:3%;
                    max-width:90%;
                }
            }
            
            
        }

        .accordeon {
            font-size:1.3em;

            @media screen and (min-width: 1700px) {
                font-size:1.4em;
            }

            li {
                margin-top:10px;

                @media screen and (max-width: @screen-tablet) {
                    max-width:75%;
                }
            }
        }

        img.icon {
            max-width: 30%;
            margin-top:5%;
            margin-bottom:2%;

            @media screen and (max-width: @screen-tablet) {
                float:right;
                margin-right:5%;
                max-width:20%;
            }
        }
    }

    .row-2 {


    } // end row-2

    .row-3 {

    }

    .row-4 {

    }
}
