<div id="footer" class="container blue-bg {% if footer_class is defined %}{{ footer_class }}{% endif %}">
    <div class="row">
        <div class="col-sm-6">
            <div id="contact-info">
                <p></p>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="social-links-container">
                <a target="_blank" href="https://twitter.com/mezzanine_im" target="_blank">
                    <img src="{{ img('twitter2.png') }}" alt="Logo Twitter">
                </a>
                <a target="_blank" href="http://linkedin.com/company/mezzanine-sas" target="_blank">
                    <img src="{{ img('linkedin2.png') }}" alt="Logo LinkedIn">
                </a>
                <a href="mailto:contact@mezzanine-im.com"><img src="{{ img('icon_mail.png') }}"></a>
            </div>
        </div>
    </div>
</div>