<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ lang }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block page_title %}{% endblock %}MEZZANINE | Real Estate Investment Managers</title>
        <meta name="description" content="{% block page_description %}{% endblock %}">
        <meta name="keywords" content="{% block page_keywords %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">

        <link rel="stylesheet" href="{{ css('bootstrap/normalize') }}" reload="false">
        <link rel="stylesheet" href="{{ css('bootstrap/bootstrap') }}" reload="false">
        <link rel="stylesheet" href="{{ css('bootstrap/bootstrap-theme') }}" reload="false">
        <link rel="stylesheet" href="{{ css('main') }}" reload="false">

        {% block css %}

        {% endblock %}

        <script src="{{ js('vendor/modernizr-2.6.2-respond-1.1.0.min') }}" autoload="false"></script>
    </head>
    <body class="onepage {% block body_class %}{% endblock %} {{ lang }}">
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="global-container">

            <div id="main-container">

                <div id="content">

                {% block body %}

                {% endblock %}

                </div>

            </div>

        </div>
        
        <img id="back-to-top" src="{{ img('backToTop.png') }}" alt="flèche pointée vers le haut">

        <script>
            lessThanIE10 = false;
        </script>
        <!--[if lt IE 10]><script reload="false">lessThanIE10 = true;</script><![endif]-->
        <script src="{{ js('vendor/jquery.min') }}" autoload="false"></script>
        <script src="{{ js('vendor/jquery.ui.min') }}" autoload="false"></script>
        <script src="{{ js('vendor/bootstrap.min') }}" autoload="false"></script>
        <script type="text/javascript" src="{{ js('vendor/fullPage/jquery.fullPage.min') }}" autoload="false"></script>

        <script src="{{ js('main') }}" autoload="false"></script>

        {% block js %}

        {% endblock %}
    </body>
</html>