<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if logo_name is not defined %}
                {% set logo_name = "logo.png" %}
            {% endif %}
            <a class="navbar-brand ajax-nav" href="{{ link('accueil') }}"><img src="{{ img(logo_name) }}" alt="Mezzanine"></a>
        </div>
        <div id="main-nav" class="navbar-collapse my-transition collapse">
            <ul class="nav navbar-nav">
                <li {% if page_alias == 'home' %}class="active"{% endif %}><a href="{{ link(trans("nav_home_link")) }}" class="ajax-nav">{{ "nav_home"|t }}</a></li>
                <li {% if page_alias == 'investment' %}class="active"{% endif %}><a href="{{ link(trans("nav_investment_link")) }}" class="ajax-nav">{{ "nav_investment"|t }}</a></li>
                <li {% if page_alias == 'management' %}class="active"{% endif %}><a href="{{ link(trans("nav_management_link")) }}" class="ajax-nav">{{ "nav_management"|t }}</a></li>
                <li {% if page_alias == 'about' %}class="active"{% endif %}><a href="{{ link(trans("nav_about_link")) }}" class="ajax-nav">{{ "nav_about"|t }}</a></li>
                <li {% if page_alias == 'contact' %}class="active"{% endif %}><a href="{{ link(trans("nav_contact_link")) }}" class="ajax-nav">{{ "nav_contact"|t }}</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
        <div class="lang-line">
            <a href="{{ link(uri_fr) }}" class="lang-link">FR</a> |
            <a href="{{ link(uri_en) }}" class="lang-link">EN</a>
        </div>
    </div>
</div>