{% extends 'layout.html.twig' %}

{% block page_title %}{{ "about_page_title"|t }} | {% endblock %}
{% block page_description %}Mezzanine : Mais qui sommes nous ?{% endblock %}
{% block page_keywords %}{% endblock %}

{% block body_class %}qui-sommes-nous{% endblock %}

{% block css %}
    {{ parent() }}
<link rel="stylesheet" href="{{ css('about') }}" reload="false">
{% endblock %}

{% block js %}
    {{ parent() }}

<script type="text/javascript" src="{{ js('about') }}" reload="false"></script>

{% endblock %}

{% block body %}

<div id="about" class="container onepage main-container"> 

    <section class="onepage-section section">

        {% set logo_name = "logo_white.png" %}
        {% include "navbar.html.twig" %}

        <div class="row row-1 fullpage red-bg">
            <div class="col-md-4">
                <img src="{{ img('philo1.png') }}">
                <h3>{{ "about_picto_1_title"|t|upper }}</h3>
                <p>
                    {{ "about_picto_1_text"|t }} 
                </p>
            </div>
            <div class="col-md-4">
                <img src="{{ img('philo2.png') }}">
                <h3>{{ "about_picto_2_title"|t|upper }}</h3>
                <p>
                    {{ "about_picto_2_text"|t }}
                </p>
            </div>
            <div class="col-md-4">
                <img src="{{ img('philo3.png') }}">
                <h3>{{ "about_picto_3_title"|t|upper }}</h3>
                <p>
                    {{ "about_picto_3_text"|t }}
                </p>
            </div>
        </div>

        <div class="arrow hide-for-mobile grey-bg"><img src="{{ img('arrow_bg_red.png') }}"></div>

    </section>

    <section class="onepage-section partners yoann section">

        <div class="row partner " id="partner-1">

{#            <h2 class="banner">{{ "about_team"|t|upper }}</h2>#}

            {#<div class="col-sm-4">
                <img class="photo" src="{{ img('yoan.png') }}">
            </div>#}
            <div class="col-sm-12">
                <div class="content yoann">
                    <h3>YOANN KESLASSY</h3>
                    <p class="subtitle">{{ "about_partner"|t|upper }}</p>
                    <div class="desc">
                        <p>{{ "about_partner_1_desc_1"|t }}</p>
                        <p>{{ "about_partner_1_desc_2"|t }}</p>
                        <p>{{ "about_partner_1_desc_3"|t }}</p>
                    </div>
                    <div class="contact">
                        <a target="_blank" href="http://linkedin.com/profile/view?id=216670707"><img src="{{ img('linkedin4.png') }}" alt="Logo LinkedIn"></a>
                    {#<p><a href="mailto:yoann@mezzanine-im.com">yoann@mezzanine-im.com</a><br>{#<a href="tel:+33616755014">+33 6 16 75 50 14</a></p>#}
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="onepage-section partners mark section">

        <div class="row partner " id="partner-2">
            <div class="col-sm-12">
                <div class="content mark">
                    <h3>MARK AZOULAY</h3>
                    <p class="subtitle">{{ "about_partner"|t|upper }}</p>
                    <div class="desc">
                        <p>{{ "about_partner_2_desc_1"|t }}</p>
                        <p>{{ "about_partner_2_desc_2"|t }}</p>
                        <p>{{ "about_partner_2_desc_3"|t }}</p>
                    </div>
                    <div class="contact">
                        <a target="_blank" href="http://linkedin.com/profile/view?id=102972302"><img src="{{ img('linkedin4.png') }}" alt="Logo LinkedIn"></a>
                    {#<p><a href="mailto:yoann@mezzanine-im.com">mark@mezzanine-im.com</a><br>{#<a href="tel:+33616755014">+33 6 16 75 50 14</a></p>#}
                    </div>
                </div>
            </div>
            {#<div class="col-sm-4">
                <img class="photo" src="{{ img('mark.png') }}">
            </div>#}
        </div>

    </section>


</div>
{% endblock %}