{% extends 'layout.html.twig' %}

{% block page_title %}Contact | {{ parent() }}{% endblock %}
{% block page_description %}Nous contacter{% endblock %}
{% block page_keywords %}{% endblock %}

{% block body_class %}contact{% endblock %}

{% block css %}
    {{ parent() }}
<link rel="stylesheet" href="{{ css('contact') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript" src="{{ js('vendor/jquery.form.min') }}" reload="false"></script>
<script type="text/javascript" src="{{ js('contact') }}" reload="false"></script>
{% endblock %}

{% block body %}

{% set logo_name = "logo_white.png" %}
{% include "navbar.html.twig" %}

<div id="contact" class="container main-container onepage">

    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="addresses">
                <div class="address">
                    <h3>FRANCE</h3>
                    <p>
                        60, rue François 1er<br>
                        75008
                        Paris
                    </p>
                </div>
                <div class="address">
                    <h3>UK</h3>
                    <p>
                        43-45 Portman Square<br>
                        London
                        W1H6HN
{#                <a href="tel:+442079692845">+44 20 7969 2845</a>#}
                    </p>
                </div>
                <div class="contact-info">
                    <p>
                        <img src="{{ img('icon_mail.png') }}">
                        <a href="mailto:contact@mezzanine-im.com">contact@mezzanine-im.com</a>
                    </p>
                    <p>
                        <img src="{{ img('icon_phone.png') }}">
                        <a href="tel:+33156883833">+33 1 56 88 38 33</a>
                    </p>
                    <p>
                        <img src="{{ img('icon_linkedin.png') }}">
                        <a target="_blank" href="http://linkedin.com/company/mezzanine-sas">LinkedIn</a>
                    </p>
                    <p>
                        <img src="{{ img('icon_twitter.png') }}">
                        <a target="_blank" href="https://twitter.com/mezzanine_im">@mezzanine_im</a>
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <form id="form-contact" class="form-contact" action="{{ link('fr/sendMail') }}" method="POST">

                <h4>{{ "contact_form_text"|t }}</h4>

                <div class="inline">
                    <input required type="text" value="" name="name" pattern="[A-Za-z\s-]+" placeholder="{{ "contact_form_name_placeholder"|t }}">
                </div>
                <div class="inline second">
                    <input type="tel" value="" name="phone" placeholder="{{ "contact_form_phone_placeholder"|t }}">
                </div>
                <div>
                    <input required type="email" value="" name="email" placeholder="{{ "contact_form_email_placeholder"|t }}">
                </div>
                <div>
                    <textarea name="message" required placeholder="{{ "contact_form_message_placeholder"|t }}"></textarea>
                </div>
                <div class="submit">
                    <input type="submit" name="submit" value="{{ "contact_form_submit"|t }}">
                    <img class="loader" src="{{ img('ajax-loader.gif') }}">
                    <span class="response" 
                          data-error="{{ "contact_form_error"|t }}"
                          data-error-validation="{{ "contact_form_error_validation"|t }}"
                          data-sent="{{ "contact_form_sent"|t }}"
                          ></span>
                </div>
            </form>
        </div>
    </div>
</div>

{#{% include "footer.html.twig" %}#}



{% endblock %}

{% block footer %}

 {% endblock %}
