{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }}{% endblock %}
{% block page_description %}{{ parent() }}{% endblock %}
{% block page_keywords %}{{ parent() }}{% endblock %}

{% block body_class %}accueil{% endblock %}

{% block css %}
    {{ parent() }}
<link rel="stylesheet" href="{{ css('home') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript" src="{{ js('home') }}" reload="false"></script>
{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}

<div id="home" class="container main-container onepage">

    
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-1">
            <img id="img-icon" class="hide-for-mobile" src="{{ img(img) }}">
        </div>
        <div class="col-lg-4 col-lg-offset-3 col-2">
            
            <img id="connector" class="hide-for-tablet" src="{{ img('connector.png') }}">
            <h2>{{ "home_title"|t|upper }}</h2>
            <div id="home-text">
                <p>
                    <span>{{ "home_subtitle"|t }}</span><br><br>
                    {{ "home_text"|t }}
                </p>

                <p><a id="more" class="" href="{{ link(trans('investment')) }}">{{ "home_more"|t|upper }}</a></p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="aside map">
                <div class="overlay">
                    {{ "home_map_text"|t|raw }}
                </div>
                <h3>{{ "home_map_title"|t }}</h3>
                <img src="{{ img('map.png') }}" alt="carte du monde"><br>
                <span class="primary"><span></span> {{ "home_map_primary"|t }}</span>
                <span class="secondary"><span></span> {{ "home_map_secondary"|t }}</span>
            </div>
            <div class="aside perf">
                <div class="overlay">
                    {{ "home_perf_text"|t|raw }}
                </div>
                <p class="big">16<sup>%</sup></p>
                <p>{{ "home_perf_subtitle"|t }}</p>                
            </div>
        </div>

    </div> <!-- /container -->   

</div>

{% include "footer.html.twig" %}

{% endblock %}


