{% extends 'layout.html.twig' %}

{% block page_title %}{{ "investment_page_title"|t }} | {{ parent() }}{% endblock %}
{% block page_description %}Notre investissement{% endblock %}
{% block page_keywords %}{% endblock %}

{% block body_class %}investissement{% endblock %}

{% block css %}
    {{ parent() }}
<link rel="stylesheet" href="{{ css('investment') }}" reload="false">
{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript" src="{{ js('investment') }}" reload="false"></script>

{% endblock %}

{% block body %}

<div id="investment" class="container onepage main-container"> 

    <section class="onepage-section section">

    {% set logo_name = "logo_white.png" %}
    {% include "navbar.html.twig" %}

        <div class="row row-1 fullpage blue-bg">
            <div class="col-md-4">
                <p class="number">2,0</p>
                <p class="subtitle">{{ "investment_picto_1_subtitle"|t|upper }}<br><br></p>
                <p class="text">
                    {{ "investment_picto_1_text"|t }}
                </p>
            </div>
            <div class="col-md-4">
                <p class="number">16%</p>
                <p class="subtitle">{{ "investment_picto_2_subtitle"|t|upper }}</p>
                <p class="text">
                    {{ "investment_picto_2_text"|t }}
                </p>
            </div>
            <div class="col-md-4">
                <p class="number">320</p>
                <p class="subtitle">{{ "investment_picto_3_subtitle"|t|upper }}<br><br></p>
                <p class="text">
                    {{ "investment_picto_3_text"|t }}
                </p>
            </div>
        </div>

        <div class="arrow hide-for-mobile white-bg"><img src="{{ img('arrow_bg_blue.png') }}"></div>

    </section>
    <section class="onepage-section section">
        <div class="row fullpage row-2 white-bg snapoint" minWidth="1024">
            <div class="col-lg-5 col-lg-offset-1 text">
                <section>
                    <h2>{{ "investment_row_1_title_1"|t|upper }}</h2>
                    <p>
                        {{ "investment_row_1_text_1"|t }}
                    </p> 
                    <img class="img-responsive" src="{{ img("investment_img_1_"~lang~".png") }}">
                </section>

{#                <img class="hide-for-mobile icon" src="{{ img('notepad2_blue.png') }}" alt="icone de panier">#}
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <section>
                    <h2>{{ "investment_row_1_title_2"|t|upper }}</h2>
                    <p>
                        {{ "investment_row_1_text_2"|t }}
                    </p> 
                    <p>Nous ciblons des acquisitions comprises entre 1 et 15M€ et dont la situation locative dépend des marchés et secteurs concernés.</p>
                    <img class="img-responsive hide-for-mobile img-2" src="{{ img("investment_img_2_"~lang~".png") }}">
                </section>
            </div>
        </div>

        <div class="arrow hide-for-mobile grey-bg"><img src="{{ img('arrow_bg_white.png') }}"></div>

    </section>
    <section class="onepage-section section">
        <div class="row fullpage row-3 grey-bg snapoint" minWidth="1024">
            <div class="col-lg-5 col-lg-offset-1 text">
                <section>
                    <h2>{{ "investment_row_2_title_1"|t|upper }}</h2>
                    <p>
                        {{ "investment_row_2_text_1"|t }}
                    </p>
                    <img class="hide-for-mobile icon" src="{{ img('arrow_up.png') }}" alt="icone statistique">
                </section>

                
            </div>
            <div class="col-lg-5">
                <ul class="accordeon">
                    <li>
                        <span class="link">{{ "investment_row_2_accordeon_1_title"|t|upper }} <img src="{{ img('arrow.png') }}"></span>
                        <div class="content">
                            <p>{{ "investment_row_2_accordeon_1_text_1"|t }}</p>
                            <p>{{ "investment_row_2_accordeon_1_text_2"|t }}</p>
                            <p>{{ "investment_row_2_accordeon_1_text_3"|t }}</p>
                            <p>{{ "investment_row_2_accordeon_1_text_4"|t }}</p>
                        </div>
                    </li>
                    <li>
                        <span class="link">{{ "investment_row_2_accordeon_2_title"|t|upper }} <img src="{{ img('arrow.png') }}"></span>
                        <div class="content">
                            <p>{{ "investment_row_2_accordeon_2_text_1"|t }}</p>
                            <p>{{ "investment_row_2_accordeon_2_text_2"|t }}</p>
                            <p>{{ "investment_row_2_accordeon_2_text_3"|t }}</p>
                            <p>{{ "investment_row_2_accordeon_2_text_4"|t }}</p>
                        </div>
                    </li>
                    <li>
                        <span class="link">{{ "investment_row_2_accordeon_3_title"|t|upper }} <img src="{{ img('arrow.png') }}"></span>
                        <div class="content">
                            <p>{{ "investment_row_2_accordeon_3_text_1"|t }}</p>
                            <p>{{ "investment_row_2_accordeon_3_text_2"|t }}</p>
                            <p>{{ "investment_row_2_accordeon_3_text_3"|t }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="arrow hide-for-mobile white-bg"><img src="{{ img('arrow_bg_grey.png') }}"></div>

    </section>
    <section class="onepage-section section">
        <div class="row fullpage row-4 white-bg snapoint" minWidth="1024">
            <div class="col-lg-5 col-lg-offset-1 text">
                <section>
                    <h2>{{ "investment_row_3_title_1"|t|upper }}</h2>
                    <p>
                        {{ "investment_row_3_text_1"|t }}
                    </p>
                    <img class="hide-for-mobile icon" src="{{ img('valorise.png') }}" alt="icone statistique">
                </section>
                
            </div>
            <div class="col-lg-5">
                <ul class="accordeon">
                    <li>
                        <span class="link">{{ "investment_row_3_accordeon_1_title"|t|upper }} <img src="{{ img('arrow.png') }}"></span>
                        <div class="content">
                            <p>
                                {{ "investment_row_3_accordeon_1_text_1"|t }}
                            </p>
                            <p>
                                {{ "investment_row_3_accordeon_1_text_2"|t }}
                            </p>
                            <p>
                                {{ "investment_row_3_accordeon_1_text_3"|t }}
                            </p>
                            <p>
                                {{ "investment_row_3_accordeon_1_text_4"|t }}
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="link">{{ "investment_row_3_accordeon_2_title"|t|upper }} <img src="{{ img('arrow.png') }}"></span>
                        <div class="content">
                            <p>
                                {{ "investment_row_3_accordeon_1_text_1"|t }}
                            </p>
                            <p>
                                {{ "investment_row_3_accordeon_1_text_2"|t }}
                            </p>
                            <p>
                                {{ "investment_row_3_accordeon_1_text_3"|t }}
                            </p>
                            <p>
                                {{ "investment_row_3_accordeon_1_text_4"|t }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="arrow hide-for-mobile grey-bg"><img src="{{ img('arrow_bg_white.png') }}"></div>
        
    </section>
    <section class="onepage-section section">
        <div class="row fullpage row-5 grey-bg snapoint" minWidth="1024">
            <div class="col-lg-5 col-lg-offset-1 text">
                <section>
                    <h2>{{ "investment_row_4_title_1"|t|upper }}</h2>
                    <p>
                        {{ "investment_row_4_text_1"|t }}
                    </p>
                    <img class="hide-for-mobile icon" src="{{ img('board.png') }}" alt="icone statistique">
                </section>
                
            </div>
            <div class="col-lg-5">
                <section class="second">
                    <p>
                        {{ "investment_row_4_text_2"|t }}
                    </p>
                    <p>
                        {{ "investment_row_4_text_3"|t }}
                    </p>
                    <p>
                        {{ "investment_row_4_text_4"|t }}
                    </p>
                    <p>
                        {{ "investment_row_4_text_5"|t }}
                    </p>
                    <p>
                        {{ "investment_row_4_text_6"|t }}
                    </p>
                    <p>
                        {{ "investment_row_4_text_7"|t }}
                    </p>
                    <p>
                        {{ "investment_row_4_text_8"|t }}
                    </p>
                </section>
            </div>
        </div>

        {% include "footer.html.twig" %}

    </section>
</div>
{% endblock %}