{% extends 'layout.html.twig' %}

{% block page_title %}Conseil et management | {{ parent() }}{% endblock %}
{% block page_description %}Nos méthodes et démarches{% endblock %}
{% block page_keywords %}{% endblock %}

{% block body_class %}conseil-et-investissement{% endblock %}

{% block css %}
    {{ parent() }}
<link rel="stylesheet" href="{{ css('management') }}" reload="false">
{% endblock %}

{% block js %}
    {{ parent() }}
<script type="text/javascript" src="{{ js('management') }}" reload="false"></script>
{% endblock %}

{% block body %}

<div id="management" class="container onepage main-container"> 

    <section class="onepage-section section part-1">

    {% set logo_name = "logo_white.png" %}
    {% include "navbar.html.twig" %}

        <div class="row fullpage row-1 green-bg snapoint" minWidth="1024">
            <div class="col-md-4">
                <p class="number">100%</p>
                <p class="subtitle">INDEPENDANTS<br><br></p>
                <p class="text">
                    Chaque opportunité d’investissement est analysée de façon détaillée : dynamiques de marché, environnement, valorisation de l’actif et de son potentiel.
                </p>
            </div>
            <div class="col-md-4">
                <p class="number">15,0</p>
                <p class="subtitle">MDS € D'ACTIFS VALORISES</p>
                <p class="text">
                    Toutes nos décisions font l’objet d’un processus d’évaluation et d’arbitrage qui a pour finalité de répondre aux attentes des investisseurs.
                </p>
            </div>
            <div class="col-md-4">
                <p class="number">5</p>
                <p class="subtitle">COMPETENCES CLES<br><br></p>
                <p class="text">
                    Pour assurer la bonne exécution de la stratégie, nous gardons la maîtrise de l’Asset Management au niveau opérationnel et administratif.
                </p>
            </div>
        </div>

        <div class="arrow hide-for-mobile white-bg"><img src="{{ img('arrow_bg_green.png') }}"></div>

    </section>
    <section class="onepage-section section part-1">
        <div class="row fullpage row-2 white-bg snapoint" minWidth="1024">
            <div class="col-lg-5 col-lg-offset-1 text">
                <section>
                    <h2>NOTRE MISSION</h2>
                    <p>
                        L'expertse de MEZZANINE sur les marchés résidentiels,
                        commerces et bureaux permet d'identifier en amont
                        des opportunités d'investissement pertinentes.
                        Chacune des étapes de l'investissement est attentivement
                        étudiée afin de réaliser l'opération à la juste valeur et
                        au bon moment.
                    </p>
                    <img class="hide-for-mobile icon" src="{{ img('notepad.png') }}" alt="icone de panier">
                </section>
            </div>
            <div class="col-lg-5 img">
                
            </div>
        </div>

        <div class="arrow hide-for-mobile grey-bg"><img src="{{ img('arrow_bg_white.png') }}"></div>

    </section>
    <section class="onepage-section section part-1">
        <div class="row fullpage row-3 grey-bg snapoint" minWidth="1024">
            <div class="col-lg-5 col-lg-offset-1 text">
                <section>
                    <h2>CONSEIL STRATEGIQUE ET VALORISATION</h2>
                    <p>
                        L’équipe indépendante et pluridisciplinaire de MEZZANINE adopte une approche personnalisée et propose des solutions sur-mesure à vos problématiques immobilières. Vous bénéficiez ainsi de notre expertise multi-sectorielle (bureau, commerce et résidentiel) alliée à une connaissance approfondie du marché avec 15 milliards d’euros d’actifs valorisés.
                    </p>
                    <img class="hide-for-mobile icon" src="{{ img('arrow2.png') }}" alt="icone statistique">
                </section>
            </div>
            <div class="col-lg-5 img">
                <ul class="accordeon">
                    <li>
                        <span class="link">INVESTISSEURS <img src="{{ img('arrow_green.png') }}"></span>
                        <div class="content">
                            <p>
                                Valoriser un actif ou un portefeuille en fonc:on des différents standards financiers
                            </p>
                            <p>
                                Valoriser une société à prépondérance immobilière et vérifier la valeur du patrimoine d’une cible dans le cadre d’opérations de fusion-acquisition
                            </p>
                            <p>
                                Réaliser des modélisa:ons financières des différents scénarii afin de mener à un arbitrage
                            </p>
                            <p>
                                Identifier les cessions potentielles et pertinentes parmi les actifs d’un portefeuille
                            </p>
                            <p>
                                Préparer un plan de commercialisation
                            </p>
                            <p>
                                Rédiger des supports marketing pour une meilleure mise en valeur de l’actif
                            </p>
                            <p>
                                Gérer le processus de vente jusqu’à la comparaison des offres reçues
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="link">UTILISATEURS ET ENTREPRISES <img src="{{ img('arrow_green.png') }}"></span>
                        <div class="content">
                            <p>
                                Accompagner votre département immobilier
                            </p>
                            <p>
                                Evaluer la rentabilité de votre portefeuille immobilier et sa valeur
                            </p>
                            <p>
                                Implémenter des tableaux de bord avec des indicateurs de performances personnalisés
                            </p>
                            <p>
                                Analyser les facteurs qui impactent la valeur de l’actif
                            </p>
                            <p>
                                Etudier les réductions des coûts possibles et une éventuelle externalisation
                            </p>
                            <p>
                                Identifier des leviers de négociation avec le bailleur
                            </p>
                            <p>
                                Comparer le coût locatif avec les loyers de marché et le taux d’effort
                            </p>
                            <p>
                                Gérer les appels d’offres et le processus de sélection
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        {% include "footer.html.twig" %}

    </section>
</div>

{% endblock %}
