{% extends 'layout.html.twig' %}

{% block page_title %}Page non trouvée | {{ parent() }}{% endblock %}
{% block page_description %}La page n'a pas été trouvée{% endblock %}
{% block page_keywords %}{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}
    
{% block body %}

<div style="margin-top:5%;margin-left:5%;height:1000px;">
    
    <h1>Page non trouvée !</h1>
    
    <a href="{{ link('fr/accueil') }}" style="font-size:1.5em;">Retour à l'accueil</a>
    
    <h1>Page not found !</h1>
    
    <a href="{{ link('en/home') }}" style="font-size:1.5em;">Back to home</a>
    
</div>
    
{% endblock %}